@font-face {
  font-family: 'Ludicrous-Regular';
  src: url('Ludicrous-Regular.eot');
  src: url('Ludicrous-Regular.woff2') format('woff2'),
       url('Ludicrous-Regular.woff') format('woff'),
       url('Ludicrous-Regular.ttf') format('truetype'),
       url('Ludicrous-Regular.svg#Ludicrous-Regular') format('svg'),
       url('Ludicrous-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

